<table class="ui table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Code</th>
      <th>Temp (degC)</th>
      <th>Wind Speed (km/hr)</th>
      <th>Wind Direction(deg)</th>
      <th>Pressure (hPa)</th>
      <th></th>
<!--      <th></th>-->
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{windDirection}}
        </td>
        <td>
          {{pressure}}
        </td>
<!--        <td>
          <a href="/song/{{../station.id}}/editreading/{{id}}" class="ui icon button">
            <i class="pencil alternate icon"></i>
          </a>
        </td>-->
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>