<div class="ui blue five cards">
  <div class="ui background card" style="background-color: #0000000d">
    <div class="content">
      <i class="right floated huge green compass icon"></i>
      <div class="header">{{location}}</div>
      <div class="description">
        <p>Lat: {{lat}}</p>
        <p>Lng: {{lng}}</p>

      </div>
    </div>
  </div>
  <div class="ui card" style="background-color: #0000000d">
    <div class="content">
      <i class="right floated huge red {{summary.weatherIcon}}"></i>
      <div class="header">Weather</div>
      <div class="description">
        <p>{{summary.weatherDesc}}</p>
      </div>
    </div>
  </div>
  <div class="ui card" style="background-color: #0000000d">
    <div class="content">
      <i class="right floated huge yellow temperature low icon"></i>
      <div class="header">Temp</div>
      <div class="description">
        <p>{{summary.tempC}} degC</p>
        <p>{{summary.tempF}} degF</p>
        <i class="right floated blue {{summary.tempTrend}}"></i>
        <p>Max: {{summary.maxTempC}} degC</p>
        <p>Min: {{summary.minTempC}} degC</p>
      </div>

    </div>
  </div>
  <div class="ui card" style="background-color: #0000000d">
    <div class="content">
      <i class="right floated grey huge wind icon"></i>
      <div class="header">Wind</div>
      <div class="description">
        <p>{{summary.windBft}} bft</p>
        <p>{{summary.windDirectionString}}</p>
        <p>Feels like: {{summary.windChill}} degC</p>
        <i class="right floated blue {{summary.windTrend}}"></i>
        <p>Max: {{summary.maxWindSpd}} km/hr</p>
        <p>Min: {{summary.minWindSpd}} km/hr</p>
      </div>
    </div>
  </div>
  <div class="ui card" style="background-color: #0000000d">
    <div class="content">
      <i class="right floated blue huge globe icon"></i>

      <div class="header">Pressure</div>
      <div class="description">
        <p>{{summary.pressure}} hPa</p>
        <p>Max: {{summary.maxPressure}}</p>
        <i class="right floated blue {{summary.pressTrend}}"></i>
        <p>Min: {{summary.minPressure}}</p>
      </div>
    </div>
  </div>
</div>

